html, body, .container {
    height: 100%;
    text-align: right;

}

body {
    margin: 0;
    font-family: Arial, serif;
    color: gray;
}

.table-container {
    height: 100%;
    width: 100%;
}

.rightSide{
    background-color: #f4ebaa;
    width: 200px;
    color: gray;
    padding-right: 20px;
    padding-left: 15px;
    vertical-align: top;
    text-align: center;

}

.rightSide p{
    font-size: 25px;
}

.avatar img{
    width: 250px;
    margin: 0 auto;
    display: block;
}

.rightSide a img {
    width: 70px;
    border-radius: 50%;
}

.divider {
    background-color: #9d976b;
    height: 5px;
    width: 90%;
    margin: 5px auto;
    margin-top: 10px;
}

.leftSide{
    vertical-align: top;
    font-size: 35px;
    background-size: cover;
}

.leftSide h3{
    padding: 10px;
    color: gray;
    background-color: #8080800d;
}


.fieldset {
    background: white;
    padding-right: 30px;
}
.back{
    padding: 1px;
    margin: -9px -19px -14px -19px;
    background-color: white;
}
